@tailwind base;
@tailwind components;
@tailwind utilities;

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



:root {
  --btm: #E3007C;
  --primary-color: #131018;
  --secondary-color: #323232;
}

