.carousel-container {
    overflow: hidden;

}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    padding: 0 29px;
    display: flex;
    justify-content: center;
    /* Altri stili desiderati per gli elementi del carosello */
}
.carousel-item img{
    border-radius: 15px;
}
